@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr) ;
    place-items: center center;
    place-content: center center;
}

.box1 {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.box2 {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.box3 {
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}