@charset "UTF-8";

div.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    background-color: lightsalmon;
    height: 300px;
}

div.item {
    background-color: lightblue;
    border: 1px solid black;

    text-align: center;
}