@charset "UTF-8";

div.container {
    display: flex;
    flex-flow: row nowrap;

    background-color: lightsalmon;
}

div.item {
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;

    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
}