@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.container {
    display: grid;
    grid-template: repeat(3, 80px) / 100px 40% repeat(2, 1fr);
    gap: 10px;

    grid-auto-rows: 80px;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
            
    place-items: normal normal;
    place-content: normal normal;

    border: 3px solid blue;
}

div.item {
    border: 3px solid red;
    padding: 5px;
}