@charset "UTF-8";

* {
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-flow: row wrap;

    padding: 20px;
    background-color: rgb(47, 47, 139);
}

header > menu > a {
    color: black;
    background-color: rgb(84, 84, 173);

    padding: 10px;
    text-decoration: none;

    border: 1px solid black;
    border-radius: 5px;
}

header > picture > a > img {
    width: 80px;
}

main {
    color: black;
    background-color: rgb(47, 47, 139);
}

picture.image{
    display: block;
    padding: 200px;
}

picture.image > aside {
    margin: auto;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.397);
}

picture.image > aside > h1 {
    color: white;
    text-align: center;

    padding: 5px;
}

picture#img1 {
    background: url(../images/citynight.jpg) center center no-repeat fixed;
   background-size: cover;
}


picture#img2 {
    background: url(../images/auroranight.jpg) center center no-repeat fixed;
    background-size: cover;
}

section.content{
    margin: 10px;
    padding: 40px;
}

section.content > h2 {
    padding: 5px 0px;
    text-align: justify;
}

section.content > p {
    padding: 5px;
    font-size: 1em;

    text-indent: 5px;
    line-height: 1.5;
}
footer {
    padding: 10px;
    background-color: black;
}

footer > p {
    color: white;
    text-align: center;
}