@charset "UTF-8";

@media screen and (max-width: 768px){

    header, header > nav {
        flex-flow: column nowrap;
    }

    header > h1 {
        flex-basis: 50px;
    }

    nav > a {
        width: 90vw;
    }
}
    
