@charset "UTF-8";

/*
    #A9CFA5
    #FAD9B4
    #FFFFFF
    #000000
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html , body {
    background-color: #FAD9B4;
}

header {
    background-color: #00000071;
}
