@charset "UTF-8";

/* Cores
  Verde: #49a09d
  Lilás:  #5f2c82
*/

:root {
  --color1 : #5f2c82; 
  --color2 : #49a09d;
  --color3 : #000000;
  --color4 : #ffffff; 
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body {
  background-color: var(--color1);
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;

  background-color: var(--color4);
  width: 250px;
  height: 515px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
}

section#login > picture#imagem {
  display: block;
  background: #5f2c82 url(../images/bubbles.jpg) center center no-repeat;
  background-size: cover;
  height: 200px;
}

section#login > div#formulario {
  display: block;
  padding: 10px;
}


