@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.container {
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    gap: 5px;
            
    place-items: normal normal;
    place-content: normal normal;

    border: 3px solid blue;
     height: 250px;
}

div.item {
    border: 3px solid red;
    padding: 5px;
}