@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.container {
    display: grid;
    grid-template: repeat(3,auto) / repeat(3,auto);
    gap: 5px;
            
    place-items: start center;
    place-content: space-between end;

    border: 3px solid blue;
    height: 250px;
}

div.item {
    border: 3px solid red;
    padding: 5px;
}