@charset "UTF-8";

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/images/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
    height: 97.60vh;
}

div#iphone {
    position: absolute;
    background-image: url('/images/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 94vh;
    width: 300px;
    height: 600px;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}