@charset "UTF-8";

body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    text-align: center;
}

h1 {
    color: #ffffff;
}

a {
    color: #f5f5f5;
    text-align: center;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}