@charset "UTF-8";

body {
    height: 96vh;
    border: 1px dashed black;
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center center;
}